@layer base {
  /* Root settings */
  :root {
    --cmw-top-banner-height: 0px;
    --cmw-header-height: 0px;
  }

  /* ScrollBar styles */
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background-color: theme("colors.gray.DEFAULT");
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme("colors.primary.DEFAULT");
    border-radius: 2px;
  }

  body.lock-scroll {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #__layout {
    width: 100vw;
  }

  /* Headings */
  h1, .h1, .cmw-h1 {
    /* FixMe: Using important till we remove bootstrap; */
    @apply cmw-text-3xl leading-tight tracking-0px font-bold md:cmw-text-5xl !important;
    font-family: theme("fontFamily.sans"), serif;
  }

  h2, .h2, .cmw-h2 {
    @apply cmw-text-2xl leading-tight tracking-0px font-bold md:cmw-text-4xl !important;
    font-family: theme("fontFamily.sans"), serif;
    color: theme("colors.body");
  }

  h3, .h3, .cmw-h3 {
    @apply cmw-text-xl leading-tight tracking-0px font-bold md:cmw-text-3xl !important;
    font-family: theme("fontFamily.sans"), serif;
    color: theme("colors.body");
  }

  h4, .h4, .cmw-h4 {
    @apply cmw-text-lg leading-tight tracking-0px font-bold md:cmw-text-xl !important;
    font-family: theme("fontFamily.sans"), serif;
    color: theme("colors.body");
  }

  h5, .h5, .cmw-h5 {
    @apply cmw-text-base leading-tight tracking-0px font-bold !important;
    font-family: theme("fontFamily.sans"), serif;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: theme("fontFamily.sans"), serif;
    color: theme("colors.body");
    @apply cmw-my-2 !important;
  }

  .cmw-inherit {
    position: inherit;
  }

  .add-product-notification ._vue-flash-msg-body__title, .add-product-notification ._vue-flash-msg-body__text {
    color: white !important;
  }
}
