$theme-colors: (
  "primary": #17a2b8,
  "secondary": #a4a4a4,
);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

:root {
  --dark-red: #85203c;
  --light-red: #d94965;
  --dark-green: #11312b;
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.bg-dark-red {
  background-color: var(--dark-red);
}
.bg-light-red {
  background-color: var(--light-red);
}

.bg-gray {
  background-color: #f8f8f8;
}

.text-dark-red {
  color: var(--dark-red);
}
.text-light-red {
  color: var(--light-red);
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--light-red);
  background-color: var(--light-red);
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255 123 0 / 25%) !important;
}

* {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
