$theme-colors: (
  "dark-green": #11312b,
  "light-green": #155b53,
  "dark-red": #8e2440,
  "light-red": #d86c82,
);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.add-product-notification {
  width: 400px !important;
  background: white;
  color: black !important;
  z-index: 999;
}

.remove-product-notification {
  width: 200px !important;
  background: white !important;
  color: var(--dark-red) !important;
  z-index: 999;
}

.free-shipping-notification {
  width: 400px !important;
  background: var(--light-green) !important;
  color: white !important;
  z-index: 999;
}

.pointer {
  cursor: pointer;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none !important;
}

.text-barred {
  text-decoration: line-through !important;
}

.custom-input {
  border-radius: 10px;
  border-color: #11312b;
  border-width: 2px;
}

.custom-label {
  position: relative;
  bottom: -11px;
  left: 12px;
  padding: 0px 4px;
  background: white;
  color: #11312b;
}
