.fade-enter-active,
.fade-leave-active { transition: opacity 400ms ease-in-out; }

.fade-enter,
.fade-leave-to { opacity: 0; }

.slideFade-enter-active,
.slideFade-leave-active { transition: opacity 400ms ease-in-out, transform 400ms ease-in-out; }

.slideFade-enter,
.slideFade-leave-to { opacity: 0; transform: translate(0, 103%); }

.fadeFromTop-enter-active,
.fadeFromTop-leave-active { transition: opacity 400ms ease-in-out, transform 400ms ease-in-out; }

.fadeFromTop-enter,
.fadeFromTop-leave-to { opacity: 0; transform: translate(0, -10%); }

.fadeFromBottom-enter-active,
.fadeFromBottom-leave-active { transition: opacity 400ms ease-in-out, transform 400ms ease-in-out; }

.fadeFromBottom-enter,
.fadeFromBottom-leave-to { opacity: 0; transform: translate(-50%, -40%); }

.fadeFromRight-enter-active,
.fadeFromRight-leave-active { transition: opacity 400ms ease-in-out, transform 400ms ease-in-out; }

.fadeFromRight-enter,
.fadeFromRight-leave-to { opacity: 0; transform: translate(10%, -50%); }

.menu-mobile-enter-active,
.menu-mobile-leave-active { transition: transform 300ms ease-in-out; }

.menu-mobile-enter,
.menu-mobile-leave-to { transform: translateX(-100%); }

.menu-mobile-second-level-enter-active,
.menu-mobile-second-level-leave-active { transition: transform 300ms ease-in-out; }

.menu-mobile-second-level-enter,
.menu-mobile-second-level-leave-to { transform: translateX(100%); }
